@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400&family=Roboto:wght@900&display=swap");

:root {
  --font-primary: #f5f5f5;
  --font-secondary: #424242;
  --bg-color: #f5f5f5;
  --header-color: #212121;
  --nav-color: #212121;
  --footer-color: #212121;
  --grid-border: 1px solid rgb(14, 14, 14);
  --sect-border: 2px solid rgb(14, 14, 14);
}

body {
  display: flex;
  flex-direction: column;
  font-family: "Open Sans", sans-serif;
  -webkit-font-smoothing: antialiased;
  color: var(--font-primary);
  background: var(--bg-color);
  font-size: 1rem;
  min-height: 100vh;
}

/* Header Styling */

header {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 5rem;
  background: var(--header-color);
  border-bottom: var(--sect-border);
  box-shadow: 0 2px 4px rgb(0 0 0 / 50%);
}

h1 {
  font-family: "Roboto", sans-serif;
  font-weight: 900;
  -webkit-text-fill-color: rgb(
    245,
    245,
    245
  ); /* Will override color (regardless of order) */
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: black;
}

.message {
  display: flex;
  flex-direction: row;
  justify-content: center;
  background: var(--nav-color);
}

/* Control Panel Styling */

nav {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  background: var(--nav-color);
  border-bottom: var(--sect-border);
}

/* nav button {
  font-size: 0.8rem;
} */

p {
  font-size: 1.1rem;
}

.selected {
  text-decoration: underline;
}

.computer {
  text-decoration: none;
}

/* Main + Wrapper Styling */

.wrapper {
  display: flex;
  flex-direction: column;
  max-height: 20rem;
  min-height: 20rem;
  max-width: 20rem;
  min-width: 20rem;
  align-self: center;
}

.main {
  display: flex;
  flex-direction: column;
  flex: 1;
  margin-top: 5rem;
}

.instructions {
  display: flex;
  flex-direction: row;
  justify-content: center;
  background: var(--nav-color);
  border-bottom: var(--sect-border);
}

.game-over {
  display: none;
  flex-direction: column;
  justify-content: center;
  width: 20rem;
  height: 20rem;
  position: absolute;
  align-items: center;
  text-align: center;
  z-index: 999;
  color: #d9534f;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: var(--font-secondary);
  font-size: 2rem;
  font-weight: 900;
  font-family: "Roboto", sans-serif;
}
.btn {
  background-color: var(--bg-color);
  padding: 0.5rem;
  font-size: 1rem;
  -webkit-text-stroke-width: 0;
  font-weight: 100;
  font-size: 1rem;
  width: max-content;
}

.try-again {
  margin-top: 1rem;
  font-weight: 100;
  font-size: 1rem;
}

.new-game {
  display: flex;
  align-self: center;
  margin-top: 5rem;
  font-weight: 900;
  font-size: 1rem;
  align-content: center;
}

/* .blur-background {
  display: none;
  width: 20rem;
  height: 20rem;
  align-items: center;
  position: absolute;
  background-color: none;
  background-color: green;
  -webkit-filter: blur(5px);
  -moz-filter: blur(5px);
  -o-filter: blur(5px);
  -ms-filter: blur(5px);
  filter: blur(5px);
  z-index: 1;
} */

/* Gameboard Styling */

.gameboard {
  display: grid;
  color: var(--font-secondary);
  font-size: 2rem;
  grid-template-columns: repeat(3, 1fr);
  background: rgba(245, 245, 245);
  grid-auto-rows: minmax(6rem, auto);
  /* border: var(--grid-border); */
}

.game-over:after {
  display: flex;
  content: "";
  background: green;
  width: 20rem;
  height: 20rem;
  align-items: center;
  position: absolute;
  display: none;
  width: 20rem;
  height: 20rem;
  align-items: center;
  z-index: -1;
  -webkit-filter: blur(5px);
  -moz-filter: blur(5px);
  -o-filter: blur(5px);
  -ms-filter: blur(5px);
  filter: blur(5px);
  z-index: 1;
}

.cell:hover {
  box-shadow: 0 0 0.25rem 0.25rem rgb(201, 226, 255);
}

.cell-0 {
  display: flex;
  justify-content: center;
  align-items: center;
  border-right: var(--grid-border);
  border-bottom: var(--grid-border);
}

.cell-1 {
  display: flex;
  justify-content: center;
  align-items: center;
  border-left: var(--grid-border);
  border-right: var(--grid-border);
  border-bottom: var(--grid-border);
}

.cell-2 {
  display: flex;
  justify-content: center;
  align-items: center;
  border-left: var(--grid-border);
  border-bottom: var(--grid-border);
}

.cell-3 {
  display: flex;
  justify-content: center;
  align-items: center;
  border-top: var(--grid-border);
  border-right: var(--grid-border);
  border-bottom: var(--grid-border);
}

.cell-4 {
  display: flex;
  justify-content: center;
  align-items: center;
  border: var(--grid-border);
}

.cell-5 {
  display: flex;
  justify-content: center;
  align-items: center;
  border-top: var(--grid-border);
  border-left: var(--grid-border);
  border-bottom: var(--grid-border);
}

.cell-6 {
  display: flex;
  justify-content: center;
  align-items: center;
  border-right: var(--grid-border);
  border-top: var(--grid-border);
}

.cell-7 {
  display: flex;
  justify-content: center;
  align-items: center;
  border-left: var(--grid-border);
  border-right: var(--grid-border);
  border-top: var(--grid-border);
}

.cell-8 {
  display: flex;
  justify-content: center;
  align-items: center;
  border-left: var(--grid-border);
  border-top: var(--grid-border);
}

/* Footer Styling */

footer {
  display: flex;
  justify-content: center;
  background: var(--footer-color);
  border-top: var(--sect-border);
  font-size: 0.75rem;
  padding: 0.25rem;
}
